<div *ngIf="client">
    <h3>Récapitulatif des informations</h3>
    <p><strong>Nom:</strong> {{ client.nom }}</p>
    <p><strong>Prénom:</strong> {{ client.prenom }}</p>
    <p><strong>Adresse:</strong> {{ client.adresse }}</p>
    <p><strong>Code Postal:</strong> {{ client.cp }}</p>
    <p><strong>Ville:</strong> {{ client.ville }}</p>
    <p><strong>Téléphone:</strong> {{ client.tel }}</p>
    <p><strong>Email:</strong> {{ client.email }}</p>
    <p><strong>Civilité:</strong> {{ client.civilite }}</p>
    <p><strong>Login:</strong> {{ client.login }}</p>
    <p><strong>Pays:</strong> {{ client.pays }}</p>
  </div>

