<div *ngIf="client" class="card mt-4">
      <div class="card-header bg-dark text-white text-center">
        <h3>Récapitulatif des informations</h3>
      </div>
      <div class="card-body">
        <p><strong>Nom:</strong> {{ client.nom }}</p>
        <p><strong>Prénom:</strong> {{ client.prenom }}</p>
        <p><strong>Adresse:</strong> {{ client.adresse }}</p>
        <p><strong>Code Postal:</strong> {{ client.codePostal }}</p>
        <p><strong>Ville:</strong> {{ client.ville }}</p>
        <p><strong>Téléphone:</strong> {{ client.telephone }}</p>
        <p><strong>Email:</strong> {{ client.email }}</p>
        <p><strong>Civilité:</strong> {{ client.civilite }}</p>
        <p><strong>Login:</strong> {{ client.login }}</p>
        <p><strong>Pays:</strong> {{ client.pays }}</p>
      </div>
</div>
