<form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <div>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="client.nom" required>
    </div>
    <div>
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="client.prenom" required>
    </div>
    <!-- Ajoute les autres champs ici : adresse, ville, etc. -->
     <div>
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" [(ngModel)]="client.adresse" required>
     </div>
     <div>
        <label for="ville">Ville:</label>
        <input type="text" id="ville" name="ville" [(ngModel)]="client.ville" required>
     </div>
     <div>
        <label for="codePostal">Code Postal:</label>
        <input type="text" id="codePostal" name="codePostal" [(ngModel)]="client.codePostal" required>
     </div>
     <div>
        <label for="telephone">Téléphone:</label>
        <input type="text" id="telephone" name="telephone" [(ngModel)]="client.telephone" required>
     </div>
     <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="client.email" required>
     </div>
     <div>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" [(ngModel)]="client.login" required>
     </div>
     <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" [(ngModel)]="client.password" required>
     </div>
     <div>
        <label for="civilite">Civilite:</label>
        <select id="civilite" name="civilite" [(ngModel)]="client.civilite" required>
            <option value="M">M</option>
            <option value="Mme">Mme</option>
            <option value="non-specifie">Non Specifie</option>
        </select>
     </div>
    
    <div>
      <label for="pays">Pays:</label>
      <select id="pays" name="pays" [(ngModel)]="client.pays" required>
        <option value="france">France</option>
        <option value="belgique">Belgique</option>
        <option value="suisse">Suisse</option>
        <option value="angleterre"> Angleterre</option>
        <option value="espagne"> Espagne</option>
        <option value="italie"> Italie</option>
      </select>
    </div>

    <div>
      <button type="submit" [disabled]="clientForm.invalid">Soumettre</button>
    </div>
  </form>

